<p>{{ form.value.name }}</p>
<p>{{ form.value.age }}</p>
<p>{{ form.value.city }}</p>

<form [formGroup]="form">
  <input
    type="text"
    formControlName="name"
    placeholder="Nome"
    class="form-control"
  />
  <input
    type="number"
    formControlName="age"
    placeholder="Idade"
    class="form-control"
  />
  <input
    type="text"
    formControlName="city"
    placeholder="Cidade"
    class="form-control"
  />

  <input type="button" value="Cadastrar" class="btn btn-primary" />
  <input type="button" value="Alterar" class="btn btn-primary" />
  <input type="button" value="Remover" class="btn btn-primary" />
  <input type="button" value="Cancelar" class="btn btn-primary" />
</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>
