<form [formGroup]="form">
  @if (form.get('name').hasError('required') && form.get('name').touched) {

  <p class="alert alert-warning">O campo nome é obrigatório</p>

  } @if (form.get('name').hasError('minlength') && form.get('name').touched) {

  <p class="alert alert-warning">
    O campo precisa conter pelo menos 3 caracteres
  </p>

  }

  <input
    type="text"
    formControlName="name"
    placeholder="Nome"
    class="form-control"
  />

  @if (form.get('age').hasError('required') && form.get('age').touched) {

  <p class="alert alert-warning">O campo idade é obrigatório</p>

  } @if (form.get('age').hasError('min') && form.get('age').touched) {

  <p class="alert alert-warning">
    O campo idade não aceito numeros inferiores a 0
  </p>

  } @if (form.get('age').hasError('max') && form.get('age').touched) {

  <p class="alert alert-warning">
    O campo idade não aceito numeros superiores a 120
  </p>

  }

  <input
    type="number"
    formControlName="age"
    placeholder="Idade"
    class="form-control"
  />

  @if (form.get('city').hasError('required') && form.get('city').touched) {

  <p class="alert alert-warning">O campo cidade é obrigatório</p>

  } @if (form.get('city').hasError('minlength') && form.get('city').touched) {

  <p class="alert alert-warning">
    O campo cidade precisa conter pelo menos 3 caracteres
  </p>

  }
  <input
    type="text"
    formControlName="city"
    placeholder="Cidade"
    class="form-control"
  />

  @if(isVisibledRegisterButton) {
  <input
    type="button"
    value="Cadastrar"
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="handleRegister()"
  />

  } @else {
  <input
    type="button"
    value="Alterar"
    class="btn btn-primary"
    [disabled]="form.invalid"
  />
  <input type="button" value="Remover" class="btn btn-primary" />
  <input type="button" value="Cancelar" class="btn btn-primary" />

  }
</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let person of personsData; index as indice">
      <td>{{ indice + 1 }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.city }}</td>
      <td><button class="btn btn-primary">Selecionar</button></td>
    </tr>
  </tbody>
</table>
